@font-face{
    font-family: regular;
    src: url(./fonts/Metropolis-Regular.otf);
}

@font-face{
    font-family: bold;
    src: url(./fonts/Metropolis-SemiBold.otf);
    font-weight: bold;
}

@font-face{
    font-family: italic;
    src: url(./fonts/Metropolis-RegularItalic.otf);
}

h1{
    font-family: bold;
}

h2{
    font-family: regular;
}

h3{
    font-family: regular;
}

h4{
    font-family: regular;
}

button{
    font-family: regular;
}

.image-resize {
    width: 33.5%;
    margin: -5px;
}

.bg-white-title {
    background-color: rgba(255, 255, 255, 0.6);
    width: 40vw;
}

.bg-white-tagline {
    background-color: rgba(255, 255, 255, 0.6);
    width: 60vw;
}

/* custom-div aids in positioning the div at the bottom of page */
        .custom-div{
            position: fixed;
            left: 0%;
            right: 0%;
            bottom: 5%;
        }
        .custom-div-2 div a{
            color: white !important;     
            border: none !important;
            float: left;
        }
        .first-button{
            margin-left: 11%;
        }
        .custom-div-2 a:hover{
            background-color: lightgray !important;
            border: pink !important;
        }
        .custom-div-2 div img{
            background-color: pink;
            width: 18%;
            margin-left: -20%;
            float: left;
        }